@font-face {
    font-family: 'Necto Mono';
    src: url('../fonts/NectoMono-Regular.otf');
}

#subtitle {
    text-align: center;
    font-family:'Necto Mono';
    font-size:6em;
    margin-top:50vh; /* brings text to center */
    transform: translateY(-50%) /* centers text vertically */
}