@font-face {
  font-family: "Labrada";
  src: url("../fonts/Labrada.ttf");
}

@font-face {
  font-family: "Necto Mono";
  src: url("../fonts/NectoMono-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: red;
  font-family: "Labrada";
  font-size: 3em;
  margin-bottom: 0.1em;
}

p {
  font-family: "Necto Mono";
  font-size: 1.5em;
  width: 75%;
  margin: auto;
  text-align: center;
}

.examples-container {
  margin: auto;
  width: 80vw;
  padding: 1em;

  /* the display method 'grid' is a simple method to make grid in html */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* combine it with grid-template-columns */
  grid-template-rows: repeat(2, auto); /* and grid-template-rows if you like */
  gap: 1rem; /* and add a gap for beauty ;) */
}

.caption {
  font-family: "Necto Mono";
}

.next-arrow {
  /* position fixed places the arrow in a fixed position 🤔 */
  position: fixed;
  top: 50%;
  right: 1em; /* this adjusts it to the right, with a margin of 1em=16pt */

  font-family: "Necto Mono";
  font-size: 2.5rem;
  text-decoration: none;
  color: #333;

  background: rgba(255, 255, 255, 0.8);
  padding: 0.2em 0.5em;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  /* transition allows you to inject an animation when a variable changes (e.g. due to hover) */
  transition: background 0.2s, color 0.2s; 

  /* put it in foreground, so it stays clickable */
  z-index: 1000;
}
.next-arrow:hover {
  background: #ff0000;
  color: #fff;
}
