@font-face {
    font-family: 'Labrada';
    src: url('../fonts/Labrada.ttf');
}

@font-face {
    font-family: 'Necto Mono';
    src: url('../fonts/NectoMono-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* disables scrolling */
}

h1 {
    font-family: 'Labrada';
}

h2 {
    font-family: 'Necto Mono'
}
canvas {
    cursor: pointer; /* i want to show a pointer to make sure the user clicks */
}
