body{
    font-family: 'Work Sans';
    cursor: crosshair;
}
table.calendar {
    border-collapse: collapse;
    width: 100%;
    max-width: 80%;
    margin: 1em auto;
}
table.calendar th,
table.calendar td {
    border: 2px solid #333;
    width: 20%;
    height: 75px;
    vertical-align: top;
    padding: 0.5em;
    text-align: center;
}
table.calendar th {
    background: #f5f5f5;
    color: #555;
    font-size: 0.9em;
    text-transform: uppercase;
}
.weekday{
    color: grey
}
.date {
    display: block;
    margin-bottom: 0.4em;
}

@keyframes breath {
    0%, 100% {
        font-weight: 200;
    }
    50% {
        font-weight: 1000;
    }
}
.event {
    color: red;
    font-size: 1.5em;
    text-transform: uppercase;
    animation: breath 10s ease-in-out infinite;
}

button {
    font-family: 'Necto Mono';
    background-color: black;
    color: white;
    padding: 0.25em 1em 0.25em 1em;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-1em, -1em);
}

.text-on-the-side {
    /* border: 3px solid green; */

    position: absolute;
    bottom: 11%;
    left: 8%;
    /* top: 1em; */

    transform: rotate(-90deg);
    transform-origin: bottom left;
   

    width:80vh;
    word-wrap: balance;
    font-size:1.5em
}